@model BioEngine.Core.Site.Model.BlockViewModel<BioEngine.Core.Entities.Blocks.GalleryBlock, BioEngine.Core.Entities.Blocks.GalleryBlockData>

@if (Model.Block.Data.Pictures.Length == 1)
{
    var image = Model.Block.Data.Pictures.First();
    <div class="full">
        <div class="row">
            <div class="col-md-12 mb-3">
                <a href="@image.PublicUri" target="_blank">
                    <img src="@image.PublicUri" class="img-fluid z-depth-1"
                         alt="@image.FileName"/>
                </a>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">

        @foreach (var picture in Model.Block.Data.Pictures)
        {
            <div class="col-lg-4 col-md-12 mb-3">
                <a href="@picture.PublicUri" target="_blank">
                    <img src="@picture.PictureInfo.MediumThumbnail.PublicUri" class="img-fluid z-depth-1"
                         alt="@picture.FileName"/>
                </a>
            </div>
        }
    </div>
}
    

