@using BioEngine.Extra.IPB.Filters
@model BioEngine.Core.Site.Model.ListViewModel<BioEngine.Core.Entities.ContentItem, int>
@{
    Layout = "~/Views/_Main.cshtml";
}
<h1>@Model.SiteTitle</h1>
<div>
    @foreach (var item in Model.Items)
    {
        <div>
            <h1>
                <a href="@item.PublicUrl">@item.Title</a>
            </h1>
            @{
                var ipbFeature = Model.GetFeature<IPBPageFeature>(item);
                if (ipbFeature != null)
                {
                    <div>
                        Url: @ipbFeature.CommentsUrl<br/>
                        Count: @ipbFeature.CommentsCount<br/>
                    </div>
                }
            }
        </div>
    }
</div>