@using System.Globalization
@using BioEngine.Core.Comments
@using BioEngine.Core.Site.Model
@model BioEngine.Core.Site.Model.ContentViewModel<BioEngine.Core.Entities.Post>
@inject ICommentsProvider CommentsProvider

@{
    var dateString = Model.Item.DateAdded.DateTime.Year == DateTime.Now.Year ? Model.Item.DateAdded.DateTime.ToString("d MMMM") : null;
}

<div class="card mb-4 post">
    <div class="card-body">
        <div class="author">
            <a href="@Model.Item.Author.ProfileUrl">
                <img src="@Model.Item.Author.PhotoUrl" alt="@Model.Item.Author.Name" class="rounded-circle img-fluid"/> @Model.Item.Author.Name</a>
            <time datetime="@Model.Item.DateAdded.DateTime.ToString("s", CultureInfo.InvariantCulture)">@dateString в @Model.Item.DateAdded.DateTime.ToShortTimeString()</time>
        </div>

        <h2 class="card-title">

            @switch (Model.Mode)
            {
                case ContentViewMode.Short:
                    <a class="article-list__permalink" href="@Model.Item.PublicUrl">@Model.Item.Title</a>
                    break;
                case ContentViewMode.Full:
                    @Model.Item.Title
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
        </h2>
        <div class="sections">
            @Html.Raw(string.Join(", ", Model.Item.Sections.Select(section => $"<a href=\"{section.PublicUrl}\">{section.Title}</a>")))
        </div>
        @{
            await Html.RenderPartialAsync("Blocks/Blocks", new ContentEntityViewModel(Model.Item, Model.Mode));
        }
    </div>
    <div class="card-footer">
        @if (Model.Item.Tags.Any())
        {
            <div class="row tags">
                <div class="col-12">
                    Тэги:
                    @foreach (var tag in Model.Item.Tags)
                    {
                        @Html.ActionLink(tag.Name, "ListByTagAsync", "Posts", routeValues: new {tagName = tag.Name})
                        if (tag != Model.Item.Tags.Last())
                        {
                            <span>, </span>
                        }
                    }
                </div>
            </div>
        }
        <div class="row justify-content-between">
            <div class="col-3">
                @{
                    var commentsCount = await CommentsProvider.GetCommentsCountAsync(Model.Item);
                    var commentsUrl = await CommentsProvider.GetCommentsUrlAsync(Model.Item);
                    <a class="btn-sm btn-blue waves-effect waves-light" href="@commentsUrl">
                        <i class="fas fa-comment-alt fa-fw fa-inverse"></i> @commentsCount</a>
                }
            </div>
            <div class="col-5" style="text-align: right">
                @{
                    var fullUrl = Model.Site.Url + Model.Item.PublicUrl;
                }
                <a class="btn-sm btn-blue waves-effect waves-light" href="https://www.facebook.com/sharer/sharer.php?u=@fullUrl" title="Опубликовать ссылку в Facebook" onclick="window.open(this.href, 'Опубликовать ссылку в Facebook', 'width=640,height=436,toolbar=0,status=0'); return false">
                    <i class="fab fa-facebook-f fa-fw fa-inverse"></i>
                </a>

                <a class="btn-sm btn-blue waves-effect waves-light" href="https://twitter.com/intent/tweet?text=@Model.Item.Title+@fullUrl+via+%40biowareru" title="Опубликовать ссылку в Twitter" onclick="window.open(this.href, 'Опубликовать ссылку в Twitter', 'width=800,height=300,resizable=yes,toolbar=0,status=0'); return false">
                    <i class="fab fa-twitter fa-fw  fa-inverse"></i>
                </a>

                <a class="btn-sm btn-blue waves-effect waves-light" href="https://vk.com/share.php?url=@fullUrl" title="Опубликовать ссылку во ВКонтакте" onclick="window.open(this.href, 'Опубликовать ссылку во ВКонтакте', 'width=800,height=300,toolbar=0,status=0'); return false">
                    <i class="fab fa-vk fa-fw  fa-inverse"></i>
                </a>

                <a class="btn-sm btn-blue waves-effect waves-light" href="https://t.me/share/url?url=@fullUrl&title=@Model.Item.Title" title="Поделиться ссылкой в Telegram" onclick="window.open(this.href, 'Поделиться ссылкой в Telegram', 'width=800,height=300,toolbar=0,status=0'); return false">
                    <i class="fab fa-telegram fa-fw  fa-inverse"></i>
                </a>
                <a class="btn-sm btn-blue waves-effect waves-light" href="https://getpocket.com/edit?url=@fullUrl&title=@Model.Item.Title" title="Добавить ссылку в Pocket" target="_blank" rel=" noopener">
                    <i class="fab fa-get-pocket fa-fw  fa-inverse"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@*<article class="article-list__item">
    <header class="article-list__header">
        <div class="article-list__title-wrap">
            <h2 class="article-list__title">
                @switch (Model.Mode)
                {
                    case ContentViewMode.Short:
                        <a class="article-list__permalink" href="@Model.Item.PublicUrl">@Model.Item.Title</a>
                        break;
                    case ContentViewMode.Full:
                        @Model.Item.Title
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            </h2>
            <time class="article-list__date"
                  datetime="@Model.Item.DateAdded.DateTime.ToString("yyyy-MM-dd hh:mm:ss")">
                @Model.Item.DateAdded.DateTime.ToString("dd.MM.yyyy HH:mm:ss", CultureInfo.InvariantCulture),&nbsp;@Model.Item.Author.Name</time>
        </div>
    </header>
    <div class="b-text">
        
    </div>
    <footer class="article-list__footer">


        <div class="article-list__footer-controls">
            @{
                var ipbFeature = FeaturesCollection.GetFeature<IPBPageFeature>(Model.Item);
                if (ipbFeature != null)
                {
                    <a class="article-list__comments" href="@ipbFeature.CommentsUrl">@Html.Raw(ipbFeature.CommentsCountString)</a>
                }
            }

        </div>
    </footer>
</article>*@
